.login-part {
    background: #F3EFD4;
    border: 1px solid #979797;
    box-shadow: 0 3px 12px 0 rgba(129,129,129,0.50);
    border-radius: 47px;
    position: fixed; /* or absolute */
    display: flex;
    top: 50%;
    left: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 20px 25px 20px;

}

#sign-in-text {
    order: 0;
}

#sign-in-button {
    order: 1;
}

/*.center {*/
/*    */
/*}*/